/* ADD YOUR STYLES HERE */

/*Section 14 - Sign-up Form*/
/*						   */
form {
	display: inline-block;
}

.entry_field {
	display: inline-block;
	position: relative;
	width: 500px;
	height: 30px;
	text-align: right;
	margin: 12.5px;
}

.entry_field label {
	margin: 0px 20px;
}

.input_field {
	width: 300px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	border-style: solid;
	padding: 5px;
}

#city {
	width: 177px;
}

#state {
	width: 25px;
}

#newsletter {
	margin: auto;
	border: none;
}

#newsletter input {
	margin: 0px 10px;
}

#submit {
	width: 312px;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;
	padding: 10px;
}

/*Section 15 - Form Validation*/
/* :valid  :invalid 		  */
.is_valid {
	color: #33ff33;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 15px;
}

#valid {
	border: 2px solid #b3ffb3;
}


.is_invalid {
	color: #ff0000;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 15px;
	width: 188px; /* <-- Hack-y, look for a better solution	*/
}

#invalid {
	border: 2px solid #ffd4d4;	
}

/*Section 16 - Search Bar*/
/*						 */
.search_bar {
	background-color: #e6e6e6;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #cccccc;
}

.search_label {
	display: inline-block;
	margin: 0px 5px;
	min-width: 85px;
	width: 12%;
}

.search_input {
	display: inline-block;
	width: 70%;
}

.search_input input {
	color: #cccccc;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	width: 100%;
}

.search_submit {
	min-width: 65px;
	width: 12%;
	font-size: .9em;
	display: inline-block;
	color: white;
	background-color: #ff8080;
	border: none;
	border-radius: 7.5px;
	padding: 5px 10px;
	margin: 0px 10px;
}

@media screen and (max-width: 825px) {
	.search_input {
		width: 65%;
	}
}

@media screen and (max-width: 640px) {
	.search_input {
		width: 57%;
	}
}
@media screen and (max-width: 540px) {
	.search_input {
		width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.search_input {
		width: 43%;
	}
}
@media screen and (max-width: 440px) {
	.search_input {
		max-width: 110px;
	}
}
/*Section 17 - Omnibox*/
/*					  */
.omnibox {
	display: inline-block;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.omnibox ul {
	display: inline-block;
	list-style-type: none;
    -webkit-padding-start: 0px;
}
.omnibox li {
	display: inline-block;
	font-size: .8em;
	color: white;
	background-color: #8585e0;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
}

.omnibox a {
	color: lightgrey;
	background-color: #4848d1;
	border-radius: 5px;
	text-decoration: none;
	margin: 0px 2px 0px 1px;
	padding: 0px 3.5px 1px 3px;
}