/* ADD YOUR STYLES HERE */

/*Section 14 - Sign-up Form*/
/*						   */
form {
	display: inline-block;
}

.entry_field {
	display: inline-block;
	position: relative;
	width: 500px;
	height: 50px;
	text-align: right;	
}

.input_field {
	width: 300px;
	margin: 20px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	border-style: solid;
	padding: 5px;
}

#city {
	width: 177px;
}

#state {
	width: 25px;
}

#newsletter {
	width: 343px;
	border: none;
}

#newsletter input {
	margin: 0px 10px;
}

#submit {
	width: 312px;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;
	padding: 10px;
	margin: 12px 20px 0px 0px;
}